@page "/"


<div class="h2">
    <a href="https://localhost:44388/upload">upload</a>
</div>

<div class="h2">
    <a href="https://localhost:44388/cascadingtest">Cacading</a>
</div>

@code{
    bool iipp = true;

}