@page "/"
@using System.Net.Http
@using TestBlazorApp.Shared
@inject HttpClient Http

<button @onclick=GetTest>Get Test</button>
<button @onclick=PostTest>Post Test</button>

@code{
    public async Task GetTest()
    {        
        //var res = await Http.PostAsJsonAsync("api/Test","test");
        //var str = await res.Content.ReadAsStringAsync();
        //Console.WriteLine(str);
        await Http.GetAsync("api/Test");
    }
    public async Task PostTest()
    {
        TestItem test = new() { Name = "SH" };
        var res = await Http.PostAsJsonAsync("api/Test",test);
        var str = await res.Content.ReadAsStringAsync();
        Console.WriteLine(str);
    }
    
}